---
layout: default
title: Programming Should Be Easier
---
{% include JB/setup %}
<div class="title-bg main-page">
  <div class="container">
    <div class="header-container">
      <h1>Programming should be easier.</h1>
    </div>
    <div class="subtitle">
      This is a blog about how the act of making computer programs could be faster, less error-prone, and more fun.
    </div>
  </div>
</div>
<div class="container">
  <div class="posts-header">
    Posts
  </div>
  <ul>
      {% for post in site.posts %}
        {% if post.discoverable %}
            {% assign author = site.authors[post.author] %}
            <li class="post">
            <h4><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>
            <div class="post-info">
              <span>{{post.description}}</span>
            </div>
            </li>
        {% endif %}
      {% endfor %}
  </ul>
</div>
