/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

  body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
  }

  #content {
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 48px;
  }

  #content li {
    line-height: 30px;
    margin: 24px 0;
  }
.sidebar-nav-fixed {
     position:fixed;
     top:60px;
 }

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #pages-list {
    padding: 0 18px;
  }

  footer {
    margin-top: 24px;
  }

  #logo {
    width: 128px;
  }

  .content p, .content ol {
    margin-bottom: 24px;
  }

  .navbar .navbar-inner {
    background: white;
    padding: 12px;
    border-bottom: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    border: none;
  }

  a {
    color: #3C5D9A;
  }

  a:hover {
    color: #4B79CC;
    text-decoration: none;
  }
    
  .title-bg {
    padding: 48px 12px;
    color: white;
    text-shadow: 0 3px 8px #222;
    margin: 0 0 36px;
    background: #2BAB44;
  }

  h1 {
    /*font-family: 'Alfa Slab One'; */
    font-family: 'Montserrat'; 
    letter-spacing: 2px;
    font-size: 64px;
    line-height: 60px;
  }



  .subtitle {
    /*font-family: 'Alfa Slab One'; */
    font-family: 'Montserrat'; 
    margin-top: 36px;
    line-height: 28px;
    font-size: 24px;
  }

  .navbar .brand {
    /*font-family: 'Alfa Slab One'; */
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #2BAB44;
    font-size: 24px;
  }


  .navbar .brand:hover {
    color: #31D451;
  }

  .navbar .nav>.active>a:hover {
    background: white;
    box-shadow: none;
  }

  .navbar .nav>.active>a {
    box-shadow: none;
    background: white;
    color: #131313;
  }

  .navbar .nav > li > a {
    color: #333;
}
  .navbar .nav > li > a:hover {
    color: #777;
  }

  .posts-header {
    font-size: 30px;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    background: white;
    padding: 24px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 24px;
   }

   h4 {
    font-family: "Montserrat";
    font-size: 30px;
    line-height: 34px;
   }
   
   .date {
     line-height: 20px;
    float: right;
    font-style: italic;
    color: #999;
   }

   .footer {
   border-top: 1px dotted #CCCCCC;
    color: #999999;
    margin-top: 64px;
    padding: 12px 0;
    text-align: right;
   }

   .twitter-share-button,
   .twitter-follow-button {
    margin-left: 9px;
    margin-bottom: -3px;
   }

   .hn-share-iframe {
     margin-bottom: -4px;
     margin-left: -21px;
   }

   .post {
    margin-bottom: 36px;
    text-align: center;
   }

   .post-info {
    font-size: 18px;
    line-height: 24px;
   }

 @media (max-width: 767px) {
   h1 {
    font-size: 32px;
    line-height: 34px;
   }
   
   .subtitle {
    font-size: 18px;
   }

   .navbar .brand {
    font-size: 18px;
   }

   .footer {
     font-size: 12px;
   }

   .navbar ul.nav {
    display: none;
   }
 }

 .explanation {
     border-bottom: 1px solid #CCCCCC;
     color: #666666;
     font-style: italic;
     margin-bottom: 24px;
     padding-bottom: 12px;
     text-align: center;
 }

 .mono {
    font-family: monospace;
    font-weight: bold;
 }

 #disqus_thread {
    margin-top: 48px;
 }

 h3 {
    margin-bottom: 24px;
 }